<div class="jumbotron">
  <div class="container d-flex flex-column flex-md-row justify-content-between ">
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-user-o fa-2x" aria-hidden="true"></i> <span class="ml-2 ">Michael</span></a>
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i><span class="ml-2">Cards</span></a>
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><span class="ml-2">Atm and Branchs</span></a>
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-address-book-o fa-2x" aria-hidden="true"></i><span class="ml-2">Product</span></a>
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-compass fa-2x" aria-hidden="true"></i><span class="ml-2">IN</span></a>
      <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-search fa-2x" aria-hidden="true"></i><span class="ml-2">Search</span></a>
  </div>

  <nav class="navbar navbar-expand-lg  navbar-light bg-primary justify-content-center px-5 mt-4">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link text-white" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" >Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Account Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Help Center</a>
          </li>
      </ul>
  </nav>
    
    <div class="container my-5">
      <h1>Accounts & Cards</h1>
    </div>
    <div class="card-deck">
        <div class="card">
          <div class="card-body text-center nt-0">
            <img src="https://cdn.pixabay.com/photo/2015/11/23/10/52/ec-1058106__340.png" alt="" width="220px" class="float-left">
            <p class="font-weight-bold">Total Checking</p>
            <p class="font-weight-light">5567-54646-4647</p>
            <p class="font-weight-bold">Available  22267</p>
            <p class="font-weight-bold">Pending 3940</p>
          </div>
          <ul class="list">
            <li>Activity</li>
            <li>Activity</li>
            <li>Activity</li>
          </ul>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <img src="https://cdn.pixabay.com/photo/2015/11/23/10/52/ec-1058106__340.png" alt="" width="220px" class="float-left">
            <p class="font-weight-bold">Total Checking</p>
            <p class="font-weight-light">5567-54646-4647</p>
            <p class="font-weight-bold">Available  22267</p>
            <p class="font-weight-bold">Pending 3940</p>
          </div>
          <ul>
              <li>Activity</li>
              <li>Activity</li>
              <li>Activity</li>
            </ul>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <img src="https://cdn.pixabay.com/photo/2015/11/23/10/52/ec-1058106__340.png" alt="" width="220px" class="float-left">
            <p class="font-weight-bold">Total Checking</p>
            <p class="font-weight-light">5567-54646-4647</p>
            <p class="font-weight-bold">Available  22267</p>
            <p class="font-weight-bold">Pending 3940</p>
          </div>
          <ul>
              <li>Activity</li>
              <li>Activity</li>
              <li>Activity</li>
            </ul>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <div class="card mt-5">
                  <div class="card-header font-weight-bold">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                  <div class="card-header font-weight-bold bg-white">Points & Rewards</div>
                </div>
          </div>
          <div class="col-sm-4 container">
              <div class="card mt-5">
                  <div class="card-header font-weight-bold">Points & Rewards</div>
                  <div class="card-body">
                   <p class="font-weight-bold">Member <span class="text-lead">5567-55566-446</span></p>
                   <p class="font-weight-bold">7400</p>
                   <p class="text-lead">Available Points</p>
                   <p class="font-weight-bold">Pending Points <span class="text-lead">674</span></p>
                   <span></span>
                  </div> 
                </div>
        </div>
      
</div>